{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
<head>
    <title>Booking</title>
</head>
<div class="row justify-content-center">
    <div class="col-12 col-md-8 my-4">
        <body>
            <div class="container">
                <h1>Come meet with Us!</h1>
                <p>Welcome! We’re thrilled to connect with you on our monthly
                    meeting on the first saturaday of each month! 
                    We have a limited number of 15 seats available for each 
                    meeting to ensure an intimate and engaging experience. 
                    Don't miss your chance to secure your spot. 
                    Looking forward to meeting you. 
                    Click below to secure your spot, and we’ll be here, 
                    excitedly awaiting our musical conversation.</p>

    
                <p>Slots available: {{ slots }}</p>
                <p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Book</button>
                </form>
                </p>


                <p>
                    Our past meetings have been a harmonious blend of rich discussions 
                    and captivating performances. Here’s a peek into what makes them so special:
                </p>
                <h2>Revel in the World of Classical Music:</h2>
                <p>
                    Our meetings are a haven for music lovers to dive deep into the realms of classical 
                    music. Each session is a chance to discuss the nuances of your favorite compositions,
                     explore different eras and styles, and share your insights with fellow enthusiasts.
                </p>
                <h2>Engaging Discussions:</h2>
                <p>
                    We've delved into topics such as the evolution of Baroque music, the emotional depth of 
                    Beethoven’s symphonies, and the intricate compositions of contemporary classical artists. 
                    These discussions are always lively, with plenty of room for diverse perspectives and passionate 
                    debates.
                </p>
                <h2>Mini Performances:</h2>
                <p>
                    At the end of each meeting, our club founders treat us to a mini performance. These moments are truly 
                    the highlight, as they bring the beauty of classical music to life right before our eyes.
                </p>

                <h2>Exclusive and Intimate:</h2>
                <p>
                    With only 15 seats available, each meeting feels like a close-knit gathering of friends, ensuring everyone 
                    has a voice and can contribute meaningfully to the conversation.
                </p>
                <p>Join us at our next meeting and become part of a community that cherishes and celebrates the wonders of classical 
                    music. See you there! 🎶</p>
                <p>
                    If you have any queries, please do not hesitate to contact us. 
                    Don't be shy—reach out, and we'll get back to you as soon as we can!
                </p>



        </body>
</html>
{% endblock content %}
