{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->

<div class="container-fluid">
    
    <div class="row">
        
        <div class="create-post-button">
            
        {% if user.is_authenticated %}
            <a href="{% url 'create_post' %}">Create New Post (Core members only!)</a>
            </div>
        {% endif %}     

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <p>
                 Welcome, music lovers! We are thrilled to have you explore our weekly dive 
                 into the enchanting world of classical music. Every week, we bring you curated 
                 insights, fascinating stories, and expert opinions, all dedicated to the beauty 
                 and depth of classical music and its many facets.
                Whether you're a seasoned aficionado or just beginning your journey, our blog promises to offer something special for everyone. Come along and immerse yourself in the timeless melodies, rich histories, and the remarkable individuals who have shaped this extraordinary art form.

                Happy reading! 🎶
                </p>
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/samplepic.jpg' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr/>
                            <p class="card-text text-muted h6">{{ post.created_on}}</p>
                            <p class="card-text text-muted h6">{{ post.likes.count }}<i class="far fa-heart"></i></p>
                            <p class="card-text text-muted h6">{{ post.comments.count }}<i class="far fa-comments"></i></p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
    Copyright 2024 Alice Chan
{% endblock %}