{% extends "base.html" %}
{% block content %}
{% load static %}


<!DOCTYPE html>

<head>

<title>Simple Marker</title>
    <!-- The callback parameter is required, so we use console.debug as a noop -->
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/about.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
          <!-- Updated on field goes in here -->
    
          <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
      </div>    
</div>
</head>

<div class="container">
  <h3>Where are we?</h3>
  <h5>Heilbronner Strasse 123,</h5>
  <h5>Germany</h5>
  </div>
    
<!--Google Maps location-->
  
    <gmp-map center="49.14382553100586,9.129981994628906" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="49.14382553100586,9.129981994628906" title="My location"></gmp-advanced-marker>
    </gmp-map>
 
     <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPZNmKHUrJRC-qmrj4Dobpb5yCNEthmqA&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
</html>
{% endblock content %}
